@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100vh;
    background: radial-gradient(177.71% 109.85% at 11.04% 14.60%, #F5F7FA 0%, #CBD5E6 67.33%, #C3CFE2 92.79%) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.intro-container {
    display: flex;
    flex-direction: column;
}

.main{
    position:relative;
}


.sub-title{
    position : absolute;
    margin: 0;
    padding-top: 90px;
    color: #000;
    text-align: center;
    font-family: 'Almarai', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    filter: blur(1px);
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}


.title{
    margin-top: 0;
    padding-top: 50px;
    color: #000;
    text-align: center;
    font-family: 'Dela Gothic One';
    font-size: 135px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 18.225px;
}


h3{
    display: flex;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: 'Almarai';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

label{
    color: #000;
    text-align: center;
    font-family: 'Almarai';
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -2.25px;
}

input{
    width: 365px;
    height: 50px;
    margin-left: 10px;
    border: none;
}

select{
    width: 229px;
    height: 50px;
    border: none;
    font-family: 'Almarai';

}

.squr{
    width: 650px;
    height: 580px;
    margin-left: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0.00) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-tb{
    margin-top: 10px;
}

.half{
    width: 700px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 700px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.71) 0%, rgba(255, 255, 255, 0.44) 47.52%, rgba(255, 255, 255, 0.00) 100%);
}

.main-display{
    display: flex;
    margin-top: -100px;
    margin-right: 100px;
    margin-left: 100px;

}

.main-button{
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    padding-bottom: 40px;
}


.main-button button{
    border: 0;
    border-radius: 98px;
    background: #6A82A8;
    width: 473px;
    height: 100px;

    color: #FFF;
    text-align: center;
    font-family: Almarai;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.24px;
    transition: 0.35s
}

.main-button button:hover{
    text-shadow: 0 0 15px #FFFFFF;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.info{
    margin: auto;
    display: flex;
    flex-direction: column;
}

#userage{
    margin-left: 35px;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Almarai';
    
}

#usergender{
    margin-left: 139px;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Almarai';
}

#usercolor{
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Almarai';
    
}

.ano{
    width: 710px;
    height: 42px;
    color: #000;
    text-align: center;
    font-family: Almarai;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.PCA{
    margin-bottom: 50px;
}
.CWS{
    margin-bottom: 50px;
}


.sub-exp{
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;

    
    color: rgba(0, 0, 0, 0.34);
    text-align: center;
    font-family: 'Almarai';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.25px;
}


  /* Chat UIUX*/

  .chat-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 500px;
      margin-top: 30px;
  }

  .chat-box {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 20px;
      margin-bottom: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .chat-message {
      background-color: #f1f1f1;
      padding: 10px 20px;
      border-radius: 15px;
      margin-bottom: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .chat-message p {
      margin: 0;
      padding: 0;
  }

  .chat-message.user {
    background-color: #49BB8A;
    color: #ffffff;
    align-self: flex-start;
    margin-left: 60px;
  }

/* Add styles for Assistant messages */
  .chat-message.assistant {
    background-color: #f1f1f1;
    align-self: flex-end;
    margin-right: 60px;
  }

  .chat-input {
      display: flex;
      margin-top: 20px;
  }

  .chat-input input {
      flex: 1;
      border: 1px solid #a0a0a0;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
  }

  .chat-input button {
      background-color: #49bb8a;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 15px 25px;
      font-size: 18px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .chat-input button:hover {
      background-color: #3ca574;
  }

  #loader {
      font-size: 25px;
      text-align: center;
      color: #49bb8a;
  }

  .home-button {
    width: 500px;
    margin: 0;
    color: #fff;
    background:#32baca;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #22aaBA;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
  }
  
  .home-button:hover {
    background: #12aaBA;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .home-button:active {
    border: 0;
    transition: all .2s ease;
  }