@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
  } 
  @font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
  } 
  @font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
  } 


body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100vh;
    background: radial-gradient(177.71% 109.85% at 11.04% 14.60%, #F5F7FA 0%, #CBD5E6 67.33%, #C3CFE2 92.79%) no-repeat center;
    background-size: cover;

}

h1{
    display: flex;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: 'Dela Gothic One';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 55px;
}

p{
    display: flex;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: 'Almarai';
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 40px;
    margin-top : -40px;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


#recommendation{
    display: flex;
    justify-content: center;
    background: white;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    font-family: 'GmarketSans';
    font-weight: 500;
    border-radius: 30px;
}