
body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100vh;
    background: radial-gradient(177.71% 109.85% at 11.04% 14.60%, #F5F7FA 0%, #CBD5E6 67.33%, #C3CFE2 92.79%) no-repeat center;
    background-size: cover;

}

h1{
    display: flex;
    justify-content: center;
}


ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}